<div style="margin-top: 80px; padding-bottom: 40px;">
        <div class="card card-container">
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin">
                <h3 class="text-center">INICIA SESIÓN</h3>
				<div class="social-buttons">
					<a href="#" class="btn btn-fb" style="width: 132px;"><i class="fa fa-facebook"></i> Facebook</a>
			         <a href="#" class="btn btn-tw" style="width: 132px;"><i class="fa fa-twitter"></i> Twitter</a></br>
				</div></br>
                <span id="reauth-email" class="reauth-email"></span>
                <input type="email" id="inputEmail" class="form-control" placeholder="Usuario o Correo" required autofocus>
                <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
                <a href="#" class="forgot-password">
                ¿Olvidaste la contraseña?
                </a>
                <button class="btn btn-hero btn-block" type="submit">Iniciar Sesión</button>
            </form><!-- /form -->
            <div class="bottom text-center">
				¿Eres Nuevo? <%= link_to 'Registrate ahora.', 'session/new' %> 
			</div>
            
        </div><!-- /card-container -->
    </div>
    <footer class="footer" style="margin-top: 50px;">
        	<div class="container text-center">
        		<span style="color: white;">FIDEI 2016.  Marca registrada | <%= link_to 'Aviso de Privacidad', 'welcome/privacidad' %>| <%= link_to 'Términos y Condiciones del Servicio', 'welcome/terminos' %> | Todos los derechos reservados.</span>
          	</div>
        
        </footer>