<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="contenedor">
                <div class="form-group">
                    <label for="">Nombre</label>
                    <input type="text" class="form-control" name="Nombre" id="" placeholder="" required pattern="[A-Za-z0-9_. ]{1,15}">
                 </div>
            </div>
        </div>
        
        <div class="col-sm-6">
            
        </div>
    </div>
</div>