<div id="page-content-wrapper">
    <div class="page-content">
        <div class="container-fluid">
            <div class="container">
                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-offset-1">
                        <div class="col-md-11">
                            <h1 class="text-center" style="color: #004467;"><strong>MENSAJES AYUDA</strong></h1>
                            <table class="table table-hover table-striped">
                                <tr style="background-color: #2c3e50; color: white;">
                                    <th>Nombre</th>
                                    <th>Asunto</th>
                                    <th>Correo Electrónico</th>
                                    <th>Teléfono Fijo</th>
                                    <th>Teléfono Móvil</th>
                                    <th>Mensaje</th>
                                </tr> 
                                <tr class="warning">
                                    <td>Martín Eduardo Villaseñor Merino</td>
                                    <td>Problemas con mi Validación</td>
                                    <td>hola@tarrolabs.mx</td>
                                    <td>1234567890</td>
                                    <td>1234567890</td>
                                    <td>
                                        <button>Abrir</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




