<div id="page-content-wrapper">
        <div class="page-content">
            <div class="container-fluid">
              <div class="container">
                <div class="row" style="margin-top: 20px;">
                      <h1 class="text-center" style="color: #004467;"><strong>AJUSTES</strong></h1>
                    
                       <table class="table table-condensed table-hover table-striped table-borderless" style="border-collapse:collapse;">
                        <thead>
                            <tr style="background-color: #2c3e50; color: white;">
                                <th>Nombre</th>
                                <th>Apellidos</th>
                                <th>Correo</th>
                                <th>Fecha de Registro</th>
                                <th>Inversiones</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-toggle="collapse" data-target=".PlanesID" class="accordion-toggle">
                                <td>Hugo Arnoldo</td>
                                <td>Gutierrez</td>
                                <td>hugo@fidei.mx</td>
                                <td>15/05/2017</td>
                                <td>5</td>
                                <td><input type="button" class="btn btn-info" value="Información"></td>
                            </tr>
                            
                            <tr data-toggle="collapse" data-target=".demo1" class="accordion-toggle">
                                <td class="hiddenRow" colspan="6"><div class="collapse PlanesID hiddenCont">PLAN 1</div></td>

                            </tr>
                            
                            <tr>
                                <td class="hiddenRow"><div class="collapse demo1 hiddenCont"></div></td>
                                <td class="hiddenRow">
                                    <div class="collapse demo1 hiddenCont">Plan 1</div>
                                </td>
                                <td class="hiddenRow">
                                    <div class="collapse demo1 hiddenCont">Posición: 10</div>
                                </td>
                                <td class="hiddenRow">
                                    <div class="collapse demo1 hiddenCont">12/10/10</div>
                                </td>
                                <td class="hiddenRow">
                                    <div class="collapse demo1 hiddenCont"></div>
                                </td>
                                <td class="hiddenRow">
                                    <div class="collapse demo1 hiddenCont"><input type="button" class="btn btn-danger" value="Retirar"></div>
                                </td>
                            </tr>
                            <tr>
                                <td class="hiddenRow">
                                    <div class="collapse demo1 hiddenCont"></div>
                                </td>
                                <td class="hiddenRow">
                                    <div class="collapse demo1 hiddenCont">Plan 1</div>
                                </td>
                                <td class="hiddenRow">
                                    <div class="collapse demo1 hiddenCont">Posición: 10</div>
                                </td>
                                <td class="hiddenRow">
                                    <div class="collapse demo1 hiddenCont">12/10/10</div>
                                </td>
                                <td class="hiddenRow">
                                    <div class="collapse demo1 hiddenCont"></div>
                                </td>
                                <td class="hiddenRow">
                                    <div class="collapse demo1 hiddenCont"><input type="button" class="btn btn-danger" value="Retirar"></div>
                                </td>
                            </tr>
                            <tr>
                                <td class="hiddenRow">
                                    <div class="collapse demo1 hiddenCont"></div>
                                </td>
                                <td class="hiddenRow">
                                    <div class="collapse demo1 hiddenCont">Plan 1</div>
                                </td>
                                <td class="hiddenRow">
                                    <div class="collapse demo1 hiddenCont">Posición: 10</div>
                                </td>
                                <td class="hiddenRow">
                                    <div class="collapse demo1 hiddenCont">12/10/10</div>
                                </td>
                                <td class="hiddenRow">
                                    <div class="collapse demo1 hiddenCont"></div>
                                </td>
                                <td class="hiddenRow">
                                    <div class="collapse demo1 hiddenCont"><input type="button" class="btn btn-danger" value="Retirar"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
