

<div class="container" style="margin-top: 75px; padding-top: 30px; padding-bottom: 30px;">
    <div class="row">
        <div class="col-md-12">
        <h2 class="text-center" style="color: #004467;"><strong>CONTRATO DE SERVICIO <br> TÉRMINOS Y CONDICIONES DE USO</strong></h2>
          <span style="text-align: justify;"><br>
                  <h4><strong>1. OBJETIVO</strong></h4>
                  <p>A continuación, te describiremos los términos y condiciones (en lo sucesivo “los Términos”), aplicables para el uso de nuestro sitio web www.fidei.mx (en lo sucesivo el sitio), así como las operaciones y el autofinanciamiento personal de los objetivos a través de éste medio, por lo que si deseas adquirir los servicios, desde cualquier servidor o computadora, aceptas expresamente los términos, manifestando tu voluntad de conformidad con los artículos 1803 y 1834 bis del Código Civil Federal, así como los artículos 80, 81, 89 y demás relativos y aplicables al Código de Comercio y a la Ley Federal de Protección al Consumidor y demás legislaciones aplicables.</p>
                  <p>Al navegar en este sitio o hacer una inscripción al mismo, aceptas quedar vinculado por estos términos, por nuestro aviso de privacidad y por nuestra política de cookies, en lo sucesivo a estas dos últimas se les denominara Políticas de Protección de Datos, por lo que, si no estás de acuerdo con todos los Términos y con las Políticas de Protección de Datos, te sugerimos abandones el Sitio.</p>
                  <p>La sola utilización o visita del sitio le otorga al público en general o a quien lo use, la condición de Usuario e implica la aceptación plena e incondicional, de todas y cada una de las condiciones generales y particulares incluidas en estos Términos, así como de las Políticas de Protección de Datos, publicadas por Fidei en el momento mismo que el Usuario acceda al sitio.</p>
                <br>
                  <h4><strong>2. RESPONSABLES DEL SITIO WEB Y PRIVACIDAD</strong></h4>
                  <p>Fidei, es una empresa con el objetivo ofrecer alternativas financieras para las personas y empresas, donde nuestros clientes puedan construir e incrementar su patrimonio a través de un plan de inversión por medio de redes de mercadeo que les permita obtener un gran rendimiento por medio del apalancamiento mutuo de un grupo de personas con un mismo fin en común, logrando su objetivo en poco tiempo, con menos esfuerzo, sin investigación en Buró de crédito, sin descapitalizarse, sin pagar intereses, sin sacrificar su flujo de efectivo.</p>
                  <p>La informacion de identificacion personal sujeta a nuestra politica de Privacidad ( www.fidei.mx) cuyos terminos se incorporan al presente documento, consulte nuestra Politica de Privacidad para entender la practica en este sentido.</p>
                <br>
                  <h4><strong>3. DISPONIBILIDAD DEL SERVICIO Y MODIFICACIONES A LOS TERMINOS DE USO</strong></h4>
                  <p>Las operaciones se realizan a través de este sitio, están únicamente disponibles para su manejo dentro de la República Mexicana.</p>
                  <p>Fidei puede cambiar de vez en cuando los terminos de uso incluidos en las politicas de privacidad y los termios de uso de redes sociales, dichos cambios se haran efectivos inmediatamente, sin embargo para los usuarios acutuales, dichas revisiones seran salvo que se indique lo cantrario, efectivas 30 dias despues de su publicacion, intentaremos publicar las versiones anteriores de los terminos de uso, si fuera el caso de los ultimos 12 meses.</p>
                <br>
                  <h4><strong>4. DISPONIBILIDAD DE LAS OPERACIONES Y PREFERENCIAS EN LA COMUNICACIÓN</strong></h4>
                  <p>Fidei ofrecerá a los usuarios una alternativa donde nuestros clientes puedan construir e incrementar su patrimonio a través de un plan de inversión por medio de redes de mercadeo que les permita obtener un gran rendimiento por medio del apalancamiento mutuo de un grupo de personas con un mismo fin.</p>
                  <p>Al utilizar el servicio FIDEI, acepta recibir algunas comunicaciones electronicas enviadas por FIDEI acerca de su cuenta, estas comuniciaciones pueden incluir el envio de mensajes a la direccion de EMAIL que indico durante el registro, o la publicacion de comunicaciones en el servicio de FIDEI o en la pagina de “TU CUENTA” Que incluira avisos de  tu cuenta ejem. Autorizaciones de pago, cambio de contraseña, estado de cuenta de la inversion, numero de casillas avanzadas para llegar a tu meta, etc.</p>
                <br>
                  <h4><strong>5. CÓMO SE FORMALIZA EL CONTRATO Y FORMA DEL SERVICIO.</strong></h4>
                  <p>La forma del servicio es la indicada en nuestro sitio Web, iniciando con el registro del usuario, posterior confirmacion y aceptacion a la plataforma, se elige la cantidad a invertir, se realiza el deposito a la cuenta de FIDEI, asignando de manera automatica una posicion numerica dentro de nuestra plataforma, misma que podra ser monitoriada por el propio usuario para ver los avances que lleva de registros posteriores al del usuario y con esto revisar los lugares que faltan para llegar a la meta requerida para la obtencion del bono de inversion garantizado, la importancia de este sistema de autofinanciamiento es que el propio usuario tiene el control de su dinero y puede hacer el retiro en el momento que el decida y una vez que transcurra el plazo de 3 meses de inicio de validacion y asignacion de posicion. sin embargo es importante para llegar a la obtencion del bono de inversion, se llenen los lugares de usuarios requeridos para cada caso.</p>
                  <p>Se entenderá que la operación se ha formalizado cuando la orden haya sido expresamente aceptada por Fidei así como por el usuario, mediante el envío de un correo electrónico a la dirección electrónica del usuario, denominándolo “confirmación”. Si su oferta no es aceptada y ya se hubiese realizado algún cargo en su cuenta, el importe del mismo le será reintegrado en su totalidad, en un plazo máximo de 15 días hábiles.</p>
                  <p>Para realizar una operación exitosa, el usuario deberá seguir el procedimiento de registro en línea y hacer clic en "Aceptar". Tras esto, el usuario recibirá un correo electrónico con la confirmación de su registro. Todos los registros están sujetos a la aceptación de Fidei, de la que será informado mediante la confirmación por correo electrónico.</p>
                  <p>Serán objeto del Contrato únicamente aquellos usuarios relacionados en la aceptación de este aviso electrónico y sean mayores de 18 años.</p>

                <br>
                  <h4><strong>6. MEMBRESIA & RETRIBUCION</strong></h4>
                  <p>Al hacer clic en "ACEPTAR" usted está confirmando que la tarjeta de crédito o débito con la que se realice la operación es suya, por lo que Fidei en ningún momento será responsable por el mal uso, suplantación, clonación, robo de identidades y/o algún otro supuesto relacionado con el uso indebido de éste medio. Todas las tarjetas estarán sujetas a comprobaciones y autorizaciones por parte de la entidad emisora de las mismas, pero si dicha entidad no autorizare el pago, situación que será informada al usuario, mediante correo electrónico, Fidei no será responsable por ningún retraso o falta de entrega de los productos o comisión que se generé por la falta de autorización o rechazo de cargo por parte de la entidad emisora del medio de pago.</p>
                
                <br>
                  <h4><strong>7. RESPONSABILIDAD Y EXONERACIÓN DE RESPONSABILIDAD</strong></h4>
                  <p>Salvo que expresamente se disponga lo contrario en las presentes condiciones, nuestra responsabilidad en relación con el servicio adquirido en nuestra página de internet, estará limitada estrictamente a lo estipulado en la misma.</p>
                  <p>No obstante, lo anterior, nuestra responsabilidad no está excluida ni limitada en cualquier asunto en el que fuese ilegal o ilícito que excluyéramos, limitásemos o intentáramos excluir o limitar nuestra responsabilidad.</p>
                  <p>Sin perjuicio de lo dispuesto en el párrafo anterior y en la medida en que legalmente se permita, y salvo que en las presentes Condiciones se disponga lo contrario, no aceptaremos ninguna responsabilidad por las siguientes pérdidas, con independencia de su origen:</p>
                  <p>i. Devaluacion de la moneda.

                    <br>ii. Aumentos en el salario minimo.
                    
                    <br>iii.  Quiebra del sistema bancario.
                    <br>iv. Colapso de alguna inversion en Criptomonedas que se tenga <br>
                    
                    </p>
                  <p>Todas las descripciones de membrecía, informaciones y materiales que figuran en el sitio web se suministran "como cuerpo cierto" y sin garantías expresas o implícitas sobre los mismos salvo las establecidas legalmente. En este sentido, estamos obligados a entregarle su membrecía conforme con el contrato, respondiendo frente al usuario de cualquier falta de conformidad que exista durante la utilizacion del servicio. Se entiende que los productos son conformes con el contrato siempre que (i) se ajusten a la descripción realizada por nosotros y posean las cualidades que hayamos presentado en este Sitio (ii) sean aptos para los usos a que ordinariamente se destinan los productos del mismo tipo y (iii) presenten las caracteristicas aquí mencionadas.</p>
                  <p>La decisión del Usuario para retirar su inversion es absoluta y la puede realizar en el momento que el decida transcurrido el plazo minimo de 3 meses, con la condicion de que al realizar el retiro del dinero automaticamente pierde el lugar dentro del orden que se tenia registrado en la plataforma y no podra reclamar pago de interes alguno u pago de daños o perjucios, ya que la decisión de aceptar las condiciones del servicio es de manera libre y espontanea.</p>
                
                
                  <h4><strong>8. VIRUS, PIRATERÍA Y OTROS ATAQUES INFORMÁTICOS</strong></h4>
                  <p>El usuario o visitante no debe realizar un uso indebido del sitio web, mediante la introducción intencionada en la misma de virus, troyanos, gusanos, bombas lógicas o cualquier otro programa o material tecnológicamente perjudicial o dañino. Por lo que el Usuario se compromete a no atacar este sitio, sus ordenadores y/o servidores donde se encuentre alojado el sitio en ninguna de las formas existentes o por existir.</p>
                  <p>El incumplimiento de esta cláusula podría llevar aparejada la comisión de infracciones o delitos tipificados por la normativa aplicable. Informaremos de cualquier incumplimiento de dicha normativa a las autoridades competentes y cooperaremos con ellas para descubrir la identidad del atacante. Asimismo, en caso de incumplimiento de la presente cláusula, dejará inmediatamente de estar autorizado a usar este Sitio.</p>
                  <p>No seremos responsables de cualquier daño o pérdida resultante de un ataque de denegación de servicio, implantación o robo de identidades, virus o cualquier otro programa o material tecnológicamente perjudicial o dañino que pueda afectar a su ordenador, equipo informático, datos o materiales como consecuencia del uso de este Sitio o de la descarga de contenidos de la misma o a los que la misma redireccione.</p>
                
                
                  <h4><strong>9. COMUNICACIONES POR ESCRITO</strong></h4>
                  <p>La normativa aplicable exige que parte de la información o comunicaciones que le enviemos sean por escrito. Mediante el uso de este Sitio, el Usuario acepta que la mayor parte de dichas comunicaciones con nosotros sean electrónicas. Nos pondremos en contacto con el Usuario por correo electrónico o le facilitaremos información colgando avisos en el Sitio. A efectos contractuales, el Usuario consiente en usar este medio electrónico de comunicación y reconoce que todo contrato, notificación, información y demás comunicaciones que le enviemos de forma electrónica cumplen con los requisitos legales de ser por escrito. Esta condición no afectará a sus derechos reconocidos por ley.</p>
                  <p>El usuario consiente que las notificaciones se realizarán vía correo electrónico por lo que se entenderá que las notificaciones han sido recibidas y han sido correctamente hechas, 24 horas después de haberse enviado un correo electrónico, o tres días después de la fecha de franqueo de cualquier carta. Para probar que la notificación ha sido hecha, será suficiente con probar, en el caso de una carta, que tenía la dirección correcta, estaba correctamente sellada y que fue debidamente entregada en correos o en un buzón y, en el caso de un correo electrónico, que el mismo fue enviado a la dirección de correo electrónico especificada por el receptor.</p>
                
                
                  <h4><strong>10. CASO FORTUITO O FUERZA MAYOR</strong></h4>
                  <p>Fidei no será responsable por ningún incumplimiento o retraso de alguna de las obligaciones que asumamos al amparo de un Contrato, cuya causa se deba a acontecimientos que están fuera de nuestro control razonable, identificados como Caso Fortuito o Fuerza Mayor. Las Causas de Caso Fortuito o Fuerza Mayor incluirán cualquier acto, acontecimiento, falta de ejercicio, omisión o accidente que esté fuera de nuestro control razonable y entre otros, los siguientes:</p>
                  <p>i. Huelgas, cierres patronales u otras medidas reivindicativas.
                <br>
                ii. Conmoción civil, revuelta, invasión, ataque terrorista o amenaza terrorista, guerra (declarada o no) o amenaza o preparativos de guerra.
                <br>
                iii.  Incendio, explosión, tormenta, inundación, terremoto, hundimiento, epidemia o cualquier otro desastre natural.
                <br>
                iv. Imposibilidad de uso de trenes, barcos, aviones, transportes de motor u otros medios de transporte, públicos o privados.
                <br>
                v.  Imposibilidad de utilizar sistemas públicos o privados de telecomunicaciones.
                <br>
                vi. Actos, decretos, legislación, normativa o restricciones de cualquier gobierno o autoridad pública
                <br>
                vii.  Huelga, fallos o accidentes de transporte marítimo o fluvial, postal o cualquier otro tipo de transporte.
                </p>
                <br>
                <p>Se entenderá que nuestras obligaciones derivadas de Contratos quedarán suspendidas durante el período en que la Causa de Caso Fortuito o Fuerza Mayor continúe, y dispondremos de una ampliación en el plazo para cumplir dichas obligaciones por un periodo de tiempo igual al que dure la Causa de Caso Fortuito o Fuerza Mayor.</p>
                <p>Pondremos todos los medios razonables para que finalice la Causa de Caso Fortuito o Fuerza Mayor o para encontrar una solución que nos permita cumplir nuestras obligaciones en virtud del Contrato a pesar de la Causa de Caso Fortuito o Fuerza Mayor.</p>
                  <h4><strong>11. NUESTRO DERECHO A MODIFICAR ESTAS CONDICIONES</strong></h4>
                  <p>Fidei se reserva el derecho de revisar y modificar los presentes Condiciones en cualquier momento, así como los precios, los productos, etcétera, por lo que será responsabilidad del Usuario, leerlas previo a la autorización de pago.</p>
                  <p>Usted estará sujeto a las políticas y Condiciones vigentes en el momento en que use el Sitio o efectúe cada pedido, salvo que por ley o decisión de organismos gubernamentales debamos hacer cambios con carácter retroactivo en dichas políticas, Condiciones o Declaración de Privacidad, en cuyo caso, los posibles cambios afectarán también a los pedidos que usted hubiera hecho previamente.</p>
                 
                  <h4><strong>12. LEGISLACIÓN APLICABLE Y JURISDICCIÓN</strong></h4>
                  <p>Este convenio estará regido en todos sus puntos por las leyes vigentes en los Estados Unidos Mexicanos, en particular respecto de mensajes de datos, contratación electrónica y comercio electrónico se regirá por lo dispuesto por la legislación federal respectiva. Cualquier controversia derivada del presente acuerdo, su existencia, validez, interpretación, alcance o cumplimiento, será sometida a las leyes aplicables y a los tribunales competentes.</p>
                  <p>Para cualquier duda respecto a este documento o a los principios que rigen el "Sitio", sugerimos consultar a un asesor a través de los medios de contacto disponibles en el Sitio.</p>
          </span>
        </div>
    </div>
</div>
<section style="padding-top: 30px; padding-bottom: 30px; background-color: #faf3f3;">
                    <div class="container">
                      <h1 class="text-center" style="color: #004467;"><strong>¿TIENES ALGUNA DUDA?</strong></h1>
                      <h2 class="text-center" style="color: #004467;">CONTÁCTANOS</h2></br>
              <div class="row">
                  <div class="col-md-9">
                          <form>
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label for="name">
                                          Nombre</label>
                                      <input type="text" class="form-control" id="name" placeholder="Nombre Completo" required="required" />
                                  </div>
                                  <div class="form-group">
                                      <label for="email">
                                          Correo Electrónico</label>
                                      <div class="input-group">
                                          <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                          </span>
                                          <input type="email" class="form-control" id="email" placeholder="Correo" required="required" /></div>
                                  </div>
                                  <div class="row">
                                      <div class="col-md-6">
                                          <div class="form-group">
                                              <label for="subject">Telefono Fíjo</label>
                                              <input type="text" class="form-control" id="name" placeholder="Telefono" required="required" />
                                          </div>
                                      </div>
                                      <div class="col-md-6">
                                          <div class="form-group">
                                              <label for="subject">Telefono Móvil</label>
                                              <input type="text" class="form-control" id="name" placeholder="Telefono" required="required" />
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label for="name">Mensaje</label>
                                      <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required" placeholder=""></textarea>
                                  </div>
                              </div>
                              <div class="col-md-12">
                                  <p style="text-align: right;"><button class="btn btn-hero btn-lg" role="button">Enviar</button></p>
                              </div>
                          </div>
                          </form>
                  </div>
                  <div class="col-md-3">
                      <form>
                        
                      <legend><span class="glyphicon glyphicon-globe"></span> Oficinas</legend>
                      <address>
                          <strong>Correo Electrónico</strong><br>
                          <a href="mailto:#">contacto@fidei.com.mx</a>
                      </address>
                      </form>
                  </div>
              </div>
          </div>
        </section>
        
        <footer class="footer">
        	<div class="container text-center">
        		<span style="color: white;">FIDEI 2016.  Marca registrada | <%= link_to 'Aviso de Privacidad', 'privacidad', :style => "color: white;"  %>| <%= link_to 'Términos y Condiciones del Servicio', 'terminos', :style => "color: white;"  %> | Todos los derechos reservados.</span>
          	</div>
        
        </footer>
        
    