<p>Hola <%= @resource.email %>!</p>
<p>Alguien ha solicitado el cambio de tu contraseña, puedes cambiarla el siguiente link.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tu no lo solicitaste, porfavor ignora éste email.</p>
<p>Tu contraseña no será cambiada hasta que accedas al link anterior y crees una nueva.</p>