
<!-- Page content -->
    <div id="page-content-wrapper">
        <div class="page-content">
            <div class="container-fluid">
              <div class="container">
                 <div class="row" style="margin-top: 20px;">
                      <h1 class="text-center" style="color: #004467;"><strong>AJUSTES</strong></h1>
                      
                      
                      
                       <div class="panel-group" id="accordion">
                          <div class="panel panel-default">
                            <div class="panel-heading" data-target="#collapse1" data-toggle="collapse"  data-parent="#accordion">
                              <h4 class="panel-title"><i class="glyphicon glyphicon-user"></i> Datos personales</h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse in">
                              <div class="panel-body">
                                <!--DATOS PERSONALES -->
                                <div class="col-md-offset-3">
                                
                                <div class="col-md-8">
                                  <div class="camposdatos">
                                <form>
                                <div class="row">
                                  <div class="col-xs-12">
                                    <label>NOMBRE</label>
                                    <div class="form-group">
                                      <input type="text" class="form-control"  placeholder="Nombre"  id="Nombre_u" disabled>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                <div class="col-xs-6">
                                  <input type="text" class="form-control"  placeholder="Apellido Paterno"  id="AP_u" disabled>
                                </div>
                                <div class="col-xs-6">
                                  <input type="text" class="form-control"  placeholder="Apellido Materno"  id="AM_u" disabled>
                                </div>
                                </div></br>
                                <label class="text-center">FECHA DE NACIMIENTO</label>
                                <div class="row">
                                  <div class="col-xs-4">
                                    <input type="text" class="form-control"  placeholder="" value="22" id="Dia_u" disabled>
                                  </div>
                                  <div class="col-xs-4">
                                    <input type="text" class="form-control"  placeholder="" value="Octubre" id="Mes_u" disabled>
                                  </div>
                                  <div class="col-xs-4">
                                    <input type="text" class="form-control"  placeholder="" value="1993" id="Año_u" disabled>
                                  </div>
                                </div></br>
                                
                                
                                <label class="text-center">IDENTIFICACIÓN</label>
                                <div class="row">
                                  <div class="col-xs-4">
                                    <select class="form-control" id="Ide_u">
                                      <option>INE</option>
                                      <option>PASAPORTE</option>
                                      <option>CÉDULA</option>
                                    </select>
                                  </div>
                                  <div class="col-xs-8">
                                    <input type="text" class="form-control"  placeholder="No. Identificación" value="" id="Indentificacion_u">
                                  </div>
                                </div></br>
                                <div class="row">
                                  <div class="col-xs-6">
                                    <label>CURP</label>
                                    <input type="text" class="form-control"  placeholder="CURP" value="" id="CURP_u" >
                                  </div>
                                  <div class="col-xs-6">
                                    <label>RFC</label>
                                    <input type="text" class="form-control"  placeholder="RFC" value="" id="RFC_u" >
                                  </div>
                                  </div></br>
                                  <p class="text-center"><button type="submit" class="btn btn-success">Configurar</button></p>
                                  </form>
                            </div>
                            
                            </div>
                            </div>
                              <!-- TERMINA DATOS PERSONALES  -->
                              </div>
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading" data-target="#collapse2" data-toggle="collapse"  data-parent="#accordion">
                              <h4 class="panel-title"><i class=" glyphicon glyphicon-envelope"></i> Datos de Contacto</h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                              <div class="panel-body">
                                <!--DATOS DE CONTACTO-->
                                
                                <div class="col-md-offset-3">
                                  
                                  <div class="col-md-8">
                                  <div class="camposdatos">
                                  <form>
                                    <div class="row">
                                      <div class="col-xs-6">
                                        <label>ESTADO</label>
                                        <select class="form-control" id="Estado_u" >
                                          <option value="Seleccionar">Seleccionar</option>
                                          <option value="Aguascalientes">Aguascalientes</option>
                                          <option value="Baja California">Baja California</option>
                                          <option value="Baja California Sur">Baja California Sur</option>
                                          <option value="Campeche">Campeche</option>
                                          <option value="Coahuila de Zaragoza">Coahuila de Zaragoza</option>
                                          <option value="Colima">Colima</option>
                                          <option value="Chiapas">Chiapas</option>
                                          <option value="Chihuahua">Chihuahua</option>
                                          <option value="Distrito Federal">Distrito Federal</option>
                                          <option value="Durango">Durango</option>
                                          <option value="Guanajuato">Guanajuato</option>
                                          <option value="Guerrero">Guerrero</option>
                                          <option value="Hidalgo">Hidalgo</option>
                                          <option value="Jalisco">Jalisco</option>
                                          <option value="México">México</option>
                                          <option value="Michoacán de Ocampo">Michoacán de Ocampo</option>
                                          <option value="Morelos">Morelos</option>
                                          <option value="Nayarit">Nayarit</option>
                                          <option value="Nuevo León">Nuevo León</option>
                                          <option value="Oaxaca">Oaxaca</option>
                                          <option value="Puebla">Puebla</option>
                                          <option value="Querétaro">Querétaro</option>
                                          <option value="Quintana Roo">Quintana Roo</option>
                                          <option value="San Luis Potosí">San Luis Potosí</option>
                                          <option value="Sinaloa">Sinaloa</option>
                                          <option value="Sonora">Sonora</option>
                                          <option value="Tabasco">Tabasco</option>
                                          <option value="Tamaulipas">Tamaulipas</option>
                                          <option value="Tlaxcala">Tlaxcala</option>
                                          <option value="Veracruz de Ignacio de la Llave">Veracruz de Ignacio de la Llave</option>
                                          <option value="Yucatán">Yucatán</option>
                                          <option value="Zacatecas">Zacatecas</option>
                                        </select>
                                      </div>
                                      
                                      <div class="col-xs-6">
                                        <label>CIUDAD</label>
                                        <input type="text" class="form-control"  placeholder="Ciudad" value="" id="Ciudad_u">
                                      </div>
                                    </div></br>
                                    <div class="row">
                                      <div class="col-xs-12">
                                        <label>CALLE Y NÚMERO</label>
                                        <input type="text" class="form-control"  placeholder="Calle y Número" value="" id="Calle_u" >
                                      </div>
                                      </div></br>
                                      <div class="row">
                                        <div class="col-xs-6">
                                        <label>COLONIA</label>
                                        <input type="text" class="form-control"  placeholder="Colonia" value="" id="Colonia_u" >
                                      </div>
                                      <div class="col-xs-6">
                                        <label>CÓDIGO POSTAL</label>
                                        <input type="text" class="form-control"  placeholder="Código Postal" value="" id="CP_u">
                                      </div>
                                      </div></br>
                                      <div class="row">
                                        <h5 class="text-center">TELÉFONOS</h5>
                                        <!--<div class="col-xs-2">
                                        
                                        <label>PREFIJO</label>
                                        <input type="text" class="form-control"  placeholder="+52" value="" >
                                      </div>
                                      -->
                                      <div class="col-xs-6">
                                        <label>TELÉFONO FIJO</label>
                                        <input type="text" class="form-control"  placeholder="Teléfono Fijo" value="" id="TF_u" >
                                      </div>
                                      <!--<div class="col-xs-2">-->
                                      <!--  <label>PREFIJO</label>-->
                                      <!--  <input type="text" class="form-control"  placeholder="+52" value="" >-->
                                      <!--</div>-->
                                      <div class="col-xs-6">
                                        <label>TELÉFONO MÓVIL</label>
                                        <input type="text" class="form-control"  placeholder="Teléfono Celular" value="" id="TM_u" >
                                      </div>
                                      </div></br>
                                      <p class="text-center"><button type="submit" class="btn btn-success">Configurar</button></p>
                                      </form>
                                </div>
                                </div>
                                  
                                </div>
                                
                                
                                
                                <!-- TERMINA DATOS DE CONTACTO -->
                              </div>
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading" data-target="#collapse3" data-toggle="collapse"  data-parent="#accordion">
                              <h4 class="panel-title"> <i class="glyphicon glyphicon-cog"></i> Datos de Usuario</h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse">
                              <div class="panel-body">
                                <!--DATOS DE USUARIO-->
                                
                                <div class="col-md-offset-3">
                                  <div class="col-md-8">
                                <div class="camposdatos">
                                    <form>
                                    <div class="row">
                                    <div class="col-xs-6">
                                      <label>CORREO ELECTRÓNICO</label>
                                      <input type="email" class="form-control"  placeholder="Correo" value="" id="email_u" disabled>
                                    </div>
                                    <div class="col-xs-6">
                                      <label>CORREO ALTERNO</label>
                                      <input type="email" class="form-control"  placeholder="Correo Alterno" value="">
                                    </div>
                                    </div></br>
                                    <div class="row">
                                      <div class="col-xs-12">
                                      <label>CAMBIAR CONTRASEÑA</label>
                                      <input type="password" class="form-control"  placeholder="Contraseña Actual" value="" >
                                    </div>
                                    </div></br>
                                    <div class="row">
                                    <div class="col-xs-6">
                                      <input type="password" class="form-control"  placeholder="Contraseña Nueva" value="" >
                                    </div>
                                    <div class="col-xs-6">
                                      <input type="password" class="form-control"  placeholder="Repetir Contraseña" value="" >
                                    </div>
                                    </div></br>
                                    
                                    <p class="text-center"><button type="submit" class="btn btn-success">Configurar</button></p>
                                    </form>
                                  </div>
                                  </div>
                                </div>
                                
                                
                                <!--TERMINA DATOS DE USUARIO -->
                              </div>
                            </div>
                          </div>
                          
                          <div class="panel panel-default">
                            <div class="panel-heading" data-target="#collapse4" data-toggle="collapse"  data-parent="#accordion">
                              <h4 class="panel-title"><i class="glyphicon glyphicon-check"></i>  Otros Datos</h4>
                            </div>
                            <div id="collapse4" class="panel-collapse collapse">
                              <div class="panel-body">
                                <!--OTROS DATOS-->
                                
                                <div class="col-md-offset-3">
                                  <div class="col-md-8">
                                      <form>
                                    <div class="row">
                                      <h5>BENEFICIARIOS EN CASO DE MUERTE</h5>
                                      <div class="col-xs-6">
                                        <label>BENEFICIARIO 1</label>
                                        <input type="text" class="form-control"  placeholder="Beneficiario" value="" id="B1_u" >
                                      </div>
                                      <div class="col-xs-6">
                                        <label>BENEFICIARIO 2</label>
                                        <input type="email" class="form-control"  placeholder="Beneficiario" value=""  id="B2_u">
                                      </div>
                                      </div></br>
                                      <div class="row">
                                        <h5>DATOS DE PAGO</h5>
                                        <div class="col-xs-6">
                                        <label>BANCO</label>
                                        <input type="text" class="form-control"  placeholder="Banco" value=""  >
                                      </div>
                                      <div class="col-xs-6">
                                        <label>CLABE INTERBANCARIA</label>
                                        <input type="text" class="form-control"  placeholder="Clabe" value="" id="CB_u" >
                                      </div>
                                      </div></br>
                                      <div class="row">
                                      <h5>FOTO DE PERFIL</h5>
                                      <div class="col-xs-12">
                                        <div class="form-group">
                                          <label for="">SELECCIONAR IMAGEN</label>
                                          <input type="file" class="form-control-file"  aria-describedby="fileHelp">
                                        </div>
                                      </div>
                                      </div></br>
                                      <p class="text-center"><button type="submit" class="btn btn-success">Configurar</button></p>
                                      </form>
                                      </div>
                                    </div>
                                    
                                
                                
                                <!--TERMINA OTROS DATOS -->
                              </div>
                            </div>
                          </div>
                        </div> 
                      
                      
                      
                      
                      
                      
                      
                        
                    
                    
                  
                    
                        
                    </div>
                    
                </div> 
                 
                </div>
            </div>
        </div>
    </div>
</div>