<div class="container" style="margin-top: 75px;">
    <div class="row">
        <div class="col-md-offset-3">
            <div class="col-md-8">
                <div class="FichaPago">
                   <h3>Ficha de Pago</h3>
                   <div class="contenedorFicha">
                       <%= image_tag("logo.png", :style => "width: 200px; margin: 10px;  filter: invert(100%); -webkit-filter: invert(100%);") %>
                       <div class="row" style="margin-bottom: 25px;">
                           <strong><h4>DATOS DE PAGO</h4></strong>
                           <div class="col-sm-12">
                               <label>Beneficiario: </label> ENPRENMONEY S.A. DE C.V.</br>
                               <label>Cuenta: </label> 7010 5047515</br>
                               <label>CLABE: </label> 002320701050475154 </br>
                           </div>
                       </div>
                       
                       <div class="row">
                           <div class="col-sm-6 fichita">
                               <h4 class="text-center">FIDEI</h4>
                           </div>
                           <div class="col-sm-6 fichita">
                               <h4 class="text-center">Numero de Pago: 000001</h4>
                           </div>
                       </div>
                       <div style="margin-bottom: 25px; margin-top: 25px;">
                       <div class="row">
                        <div class="col-sm-6">
                            <label>Nombre Cliente:</label>
                        </div>
                        <div class="col-sm-6">
                            <label class="textoFicha2">Martín Eduardo Villaseñor Merino  </label>
                        </div>
                       </div>
                       <div class="row">
                           <div class="col-sm-6">
                            <label>Plan:</label>  
                        </div>
                        <div class="col-sm-6">
                            <label class="textoFicha2">4 </label>
                        </div>
                       </div>
                       <div class="row">
                           <div class="col-sm-6">
                            <label>Fecha de Generación de Ficha:</label>  
                        </div>
                        <div class="col-sm-6">
                            <label class="textoFicha2">13/06/2017  </label>
                        </div>
                       </div>
                       </div>
                       <div class="row fichitados">
                        <div class="col-sm-6">
                            <label style="font-size: 16px;" class="textoFicha">TOTAL A PAGAR:</label>
                        </div>
                        <div class="col-sm-6">
                            <label style="font-size: 16px;" class="textoFicha2">$ 100,000</label>
                        </div>
                       </div>
                       </br>
                       <hr></br>
                       <label>Realiza tu Pago en:</label><br>
                       <center>
                          <%= image_tag("Banamex_Logo.png", :style => "width: 200px; margin: 10px;") %>
                       </center>
                       
                       
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>