<div id="page-content-wrapper">
        <div class="page-content">
            <div class="container-fluid">
              <div class="container">
                  <div class="row" style="margin-top: 20px;">
                    <h1 class="text-center" style="color: #004467;"><strong>INVERSIONES</strong></h1>
                    <div class="row">
                    <div class="col-md-6 plan">
                      <div class="tituloinver">
                      <h3 class="text-center">PLAN 1: $ 6,000 - BONO FINAL: $ 30,000</h3>
                      </div>
                      <div class="inver">
                      <div> <!-- Sin Inversi贸n -->
                      <% @p1.times do %>
                      
                      <label>Personas: 12/30</label> 
                       <div class="progress">
                        <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                          <strong style="font-weight: 900;">$ 12,000 </strong>
                        </div>
                      </div>
                        
                      
                      <% end %>
                        <% if @p2<3 %> 
                       <p style="text-align: center;"> 
                        
                        <%= link_to "Generar Ficha", user_profile_gFicha_path(:tipo_paquete => "1", :costo => "6000"), :class => "btn btn-hero", :style => "margin-bottom: 33px, margin-top: 33px " %>
                        </p>
                      <% end %>
                       

                      </div>
                    </div>
                    </div>
                    
                    <div class="col-md-6 plan">
                      <div class="tituloinver">
                      <h3 class="text-center">PLAN 2: $20,000 - BONO FINAL: $ 100,000</h3>
                      </div>
      
                      <div class="inver">
                      <div> <!-- Sin Inversi贸n -->
                      <% @p2.times do %>
                      
                      <label>Personas: 12/30</label> 
                       <div class="progress">
                        <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                          <strong style="font-weight: 900;">$ 12,000 </strong>
                        </div>
                      </div>
                        
                      
                      <% end %>
                        <% if @p2<3 %> 
                       <p style="text-align: center;"> 
                        
                        <%= link_to "Generar Ficha", user_profile_gFicha_path(:tipo_paquete => "2", :costo => "20000"), :class => "btn btn-hero", :style => "margin-bottom: 33px, margin-top: 33px " %>
                        </p>
                      <% end %>
                       

                      </div>
                    </div>
                    </div>
                    </div>
                    
                    <div class="row">
                    <div class="col-md-6 plan">
                      <div class="tituloinver">
                      <h3 class="text-center">PLAN 3: $50,000 - BONO FINAL: $ 250,000</h3>
                      </div>
                      <div class="inver">
                      <div> <!-- Sin Inversi贸n -->
                      <% @p2.times do %>
                      
                      <label>Personas: 12/30</label> 
                       <div class="progress">
                        <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                          <strong style="font-weight: 900;">$ 12,000 </strong>
                        </div>
                      </div>
                        
                      
                      <% end %>
                        <% if @p2<3 %> 
                       <p style="text-align: center;"> 
                        
                        <%= link_to "Generar Ficha", user_profile_gFicha_path(:tipo_paquete => "3", :costo => "50000"), :class => "btn btn-hero", :style => "margin-bottom: 33px, margin-top: 33px " %>
                        </p>
                      <% end %>
                       

                      </div>
                    
                    </div>
                    </div>
                    
                    <div class="col-md-6 plan">
                      <div class="tituloinver">
                      <h3 class="text-center">PLAN : $100,000 - BONO FINAL: $ 500,000</h3>
                      </div>
                      <div class="inver">
                      
                      <div> <!-- Sin Inversi贸n -->
                      <% @p2.times do %>
                      
                      <label>Personas: 12/30</label> 
                       <div class="progress">
                        <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                          <strong style="font-weight: 900;">$ 12,000 </strong>
                        </div>
                      </div>
                        
                      
                      <% end %>
                        <% if @p2<3 %> 
                       <p style="text-align: center;"> 
                        
                        <%= link_to "Generar Ficha", user_profile_gFicha_path(:tipo_paquete => "4", :costo => "100000"), :class => "btn btn-hero", :style => "margin-bottom: 33px, margin-top: 33px " %>
                        </p>
                      <% end %>
                       

                    
                    </div>
                    </div>
                  </div>
                </div>
                 </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
