<div id="page-content-wrapper">
        <div class="page-content">
            <div class="container-fluid">
              <div class="container">
                  <div class="row" style="margin-top: 70px;">
                  	<h1 class="text-center" style="color: #004467;"><strong>PANEL PROMOTOR</strong></h1><br>
                    <div class="col-md-4 col-md-offset-4">
				<div id="cardP" class="weater">
					<div class="city-selected">
						<article>

							<div class="info">
								<div class="city">Hugo Gutierrez</div>
								<div class="night"><span>Referencia:</span> XMDAOS9839</div>

						</article>
						
						<figure style="background-image: url(http://136.243.1.253/~creolitic/bootsnipp/home.jpg)"></figure>
					</div>

					<div class="days">
						<div class="row row-no-gutter">
							<div class="col-sm-4">
								<div class="day">
									<h1>Activos</h1>
									<label style="color: green;">10</label>
								</div>
							</div>

							<div class="col-sm-4">
								<div class="day">
									<h1>Pasivos</h1>
									<label style="color: red;">3</label>
								</div>
							</div>

							<div class="col-sm-4">
								<div class="day">
									<h1>Total</h1>
									<label>7</label>
								</div>
							</div>

						</div>
					</div>
					
					<div class="days">
						<div class="row row-no-gutter">
							<div class="col-sm-4">
								<div class="day">
									<h1>Activos</h1>
									<label style="color: green;">10</label>
								</div>
							</div>

							<div class="col-sm-4">
								<div class="day">
									<h1>Pasivos</h1>
									<label style="color: red;">3</label>
								</div>
							</div>

							<div class="col-sm-4">
								<div class="day">
									<h1>Total</h1>
									<label>7</label>
								</div>
							</div>

						</div>
					</div>
					
					<div class="days">
						<div class="row row-no-gutter">
							<div class="col-sm-4">
								<div class="day">
									<h1>Activos</h1>
									<label style="color: green;">10</label>
								</div>
							</div>

							<div class="col-sm-4">
								<div class="day">
									<h1>Pasivos</h1>
									<label style="color: red;">3</label>
								</div>
							</div>

							<div class="col-sm-4">
								<div class="day">
									<h1>Total</h1>
									<label>7</label>
								</div>
							</div>

						</div>
					</div>
					
					<div class="days">
						<div class="row row-no-gutter">
							<div class="col-sm-4">
								<div class="day">
									<h1>Activos</h1>
									<label style="color: green;">10</label>
								</div>
							</div>

							<div class="col-sm-4">
								<div class="day">
									<h1>Pasivos</h1>
									<label style="color: red;">3</label>
								</div>
							</div>

							<div class="col-sm-4">
								<div class="day">
									<h1>Total</h1>
									<label>7</label>
								</div>
							</div>

						</div>
					</div>
					
					<div class="days">
						<div class="row row-no-gutter">
							<div class="col-sm-4">
								<div class="day">
									<h1>Activos</h1>
									<label style="color: green;">10</label>
								</div>
							</div>

							<div class="col-sm-4">
								<div class="day">
									<h1>Pasivos</h1>
									<label style="color: red;">3</label>
								</div>
							</div>

							<div class="col-sm-4">
								<div class="day">
									<h1>Total</h1>
									<label>7</label>
								</div>
							</div>

						</div>
					</div>
					
					
					
					
				</div>
			</div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>