<nav class="navbar navbar-fixed-top" data-turbolinks-permanent>
          <div  style="background-color: #2c3e50 ; padding-bottom: 15px; padding-top: 15px;">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed btn-lg" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="glyphicon glyphicon-menu-hamburger" style="color: white;"></span>
              </button>
              <a class="navbar-brand" href="..">
                
                <%= image_tag("logo.png", :style => "width: 200px; margin-top: -20px;", :class => "img-responsive") %>
                </a>
            </div>
        
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a class="linksop" href="../../">Inicio</a></li>
                <!--<li><a class="linksop" href="../../#sProyeccion">Proyección</a></li>-->
                <li><a class="linksop" href="../../#sOperacion">Forma de Operación</a></li>
                <li><a class="linksop" href="../../#sInfo">Información</a></li>
                <li><a class="linksop" href="../../#sPlan">Planes</a></li>
                <li><a class="linksop" href="../../#sEmpresa">Empresa</a></li>
                <li><a class="linksop" href="../../#sContacto">Contacto</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
                  </div>
        </nav>